<!doctype html>
<html class="no-js" lang="en" ng-app="madapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thinkful Angular ngMadLibs</title>
    <link rel="stylesheet" href="css/index.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Oswald" rel="stylesheet">
  </head>
  <body>
  <header>
    <div class="happy"><img src="images/mad-lib-happy-face.png" /></div>
    <div class="logo">
      <img src="images/ng-mad-libs-logo.png" />
      <h1>Automate this!</h1>
    </div>
  </header>
  <section class="input-container">
    <article>
      <input type="text" name="male_name_input"  placeholder="Male Name" ng-model="male_name" />
      <input type="text" name="job_title" placeholder="Job Title" ng-model="job_title" />
      <input type="text" name="tedious_task" placeholder="Tedious Task" ng-model="tedious_task" />
    </article>
    <article>
      <input type="text" name="dirty_task" placeholder="Dirty Task" ng-model="dirty_task" />
      <input type="text" name="celebrity" placeholder="Celebrity" ng-model="celebrity" />
      <input type="text" name="useless_skill" placeholder="Useless Skill" ng-model="useless_skill" />
    </article>
    <article>
      <input type="text" name="obnoxious_celebrity" placeholder="Obnoxious Celebrity" ng-model="obnoxious_celebrity" />
      <input type="text" name="huge_number" placeholder="Huge Number" ng-model="huge_number" />
      <input type="text" name="adjective" placeholder="Adjective" ng-model="adjective" />
    </article>
  </section>

  <section class="main_content" ng-controller="mycntrl">
    <p>{{ male_name ? male_name:"________"}} was a {{ job_title ? job_title:"________" }} who loved technology. Although he loved parts of his job, he absolutely hated  {{ tedious_task ? tedious_task:"________" }} and {{ dirty_task ? dirty_task:"________" }}. So, {{ male_name ? male_name:"________" }} met with his life mentor {{celebrity ? celebrity:"________"}} who told him to learn how to {{ useless_skill ? useless_skill:"________" }} with Thinkful. Thinkful didn't offer a course on {{ useless_skill ? useless_skill:"________" }} so he studied programming instead.</p>
 
    <p>What a great decision! With his new skills, {{ male_name ? male_name:"________" }} built a(n) {{ adjective ? adjective:"________" }} robot named {{ obnoxious_celebrity ? obnoxious_celebrity:"________" }} that not only loved {{ dirty_task ? dirty_task:"________" }} but did it {{ huge_number ? huge_number:"________" }} faster.</p>
  </section>

  <footer>

  </footer>

  <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
  </body>
</html>